#verge-lib-measure {
  display: hidden;
}

@media only screen {
  html.js #verge-lib-measure {
    display: block;
  }

  #verge-lib-measure-inner {
    display: inline;
    font-size: 10px;
    font-size: 0.625rem;
    margin: 0 auto;
    padding: 0.375rem 0.75rem;
    background: #333;
    background: rgba(51 51 51 .8);
    background: rgba(51, 51, 51, .8);
    border: 1px solid #333;
    -moz-border-radius: 15px;
    -moz-border-radius: .9375rem;
    -webkit-border-radius: 15px;
    -webkit-border-radius: .9375rem;
    border-radius: 15px;
    border-radius: .9375rem;
    -webkit-box-shadow: 0 2px 4px #333;
    -webkit-box-shadow: 0 0.125rem 0.25rem #333;
    -moz-box-shadow: 0 2px 4px #333;
    -moz-box-shadow: 0 0.125rem 0.25rem #333;
    box-shadow: 0 2px 4px #333;
    box-shadow: 0 0.125rem 0.25rem #333;
    color: #fff;
    text-shadow: 0 1px 2px #000;
    text-shadow: 0 0.0625rem 0.125rem #000;
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    width: 30%;
    margin-left: -15%;
    text-align: center;
    z-index: 9999;
  }
}

@media only screen and (min-width: 400px) and (max-width: 799px) {
  #verge-lib-measure-inner {
    width: 20%;
    margin-left: -10%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  #verge-lib-measure-inner {
    width: 10%;
    margin-left: -5%;
  }
}

@media only screen and (min-width: 1280px) {
  #verge-lib-measure-inner {
    width: 6%;
    margin-left: -3%;
  }
}
